/Animal.class
/Buffalo.class
/Cat.class
/Chicken.class
/Cow.class
/Duck.class
/Eagle.class
/Rabbit.class
/testBuffalo.class
/testCat.class
/testChicken.class
/BuffaloTest.class
/testCow.class
/testDuck.class
/testEagle.class
/testRabbit.class
