/DagingAyam.class
/DagingBebek.class
/DagingKelinci.class
/DagingKerbau.class
/DagingKucing.class
/DagingSapi.class
/FarmProduct.class
/OporAyam.class
/OporTelur.class
/Product.class
/SideProduct.class
/SteakSapi.class
/SusuSapi.class
/TelurAyam.class
/TelurBebek.class
/testFarmProduct.class
/testProduct.class
/testSideProduct.class
/testDagingAyam.class
/testDagingBebek.class
/testDagingKelinci.class
/testDagingKerbau.class
/testDagingSapi.class
/testDagingKucing.class
/testOporAyam.class
/testOporTelur.class
/testSteakSapi.class
/testSusuSapi.class
/testTelurAyam.class
/testTelurBebek.class
